body {
    height: 100%;
    background-image: url('/static/images/pexels-aleksandar-pasaric-325185.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #93e0c7;
    margin:auto;
    padding: 0;
  }
  h1 {
    font-family: Tahoma;
    font-size: 1.5em; 
    font-weight: lighter;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 1px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  h2 {
    font-family: Tahoma;
    font-size: 1.2em; 
    font-weight: lighter;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 1px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  p {
    font-family: Tahoma;
    font-size: 0.9em; 
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(151, 151, 151);
  }
  .login {
    margin: 50px auto;
    margin-top: 225px;
    width: 500px;
    box-shadow: 5px 5px 10px;
  }
  .login-screen {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }
  .login-form {
    text-align: center;
  }
  .control-group {
    margin-bottom: 10px;
  }
  .namesubmit {
    margin: 50px auto;
  }
    [name='name']{
      width: 80%;
      height: 25px;
      padding: 5px;
      margin-top: 15px;
      border:1px solid #ccc; 
      -webkit-border-radius: 5px;
      color: rgb(151, 151, 151);
      border-radius: 5px; 
    }
    [name='search']{
      width: 80%;
      height: 30px;
      padding: 5px;
      margin-top: 25px;
      background-color: #7db6a3;
      border:1px solid #ccc; 
      -webkit-border-radius: 5px;
      color: #000000;
      border-radius: 5px; 
    }
    [name='submit']{
      width: 80%;
      height: 25px;
      padding: 5px;
      margin-top: 15px;
      background-color: #7db6a3;
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px; 
    }
  .text {
    margin: 50px auto;
    margin-top: 225px;
    width: 50px;
  }
  