.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

body {
    height: 100%;
    background-size: cover;
    background-image: url("/static/images/pexels-rahul-pandit-3052360.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #a1dbbb;
    margin:auto;
    padding: 0;
  }
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: left;
    letter-spacing: -2px;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: left;
    letter-spacing: -2px;
  }
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    color: #999;
  }
  h4 {
    font-size: 1em;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: left;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
  }
  p {
    font-family: 'Open Sans', sans-serif;
    width: auto;
    margin: 5px auto;
    word-wrap: break-word;
  }
  p.footer {
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    text-align: center;
    width: auto;
    word-wrap: break-word;
  }
  .login {
    margin: 10px auto;
    margin-top: 125px;
    width: 1000px;
  }
  .login-screen {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }
  .login-form {
    text-align: center;
  }
  .control-group {
    margin-bottom: 10px;
  }
  .form-group {
    padding: 1px;
    width: 100px;
  }
  .form-control {
    height: 130px;
    width: 350px;
    font-size: .9em;
  }
  .input_song {
    height: 130px;
    width: 350px;
    font-size: .9em;
  }
  .myButton {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color:#0061a7;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  /*
  * Formatting the header area
  */
  header {
    background-color: #ffffff;
    height: 35px;
    width: 100%;
    opacity: 0.9;
    padding: 0px;
  }
  header h1.logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.7em;
    color: #004AAD;
    float: left;
  }
  header h1.logo:hover {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-decoration: none;
  }
  p {
    width: auto;
    margin: 5px auto;
    word-wrap: break-word;
  }
  .menu {
    float: center;
    margin-top: 0px;
  }
  .menu a {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color:#004AAD;
    text-decoration: none;
    display: inline;
  }
  .menu a + a {
    margin-left: 35px;
  }

  .myButton {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color:#0061a7;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
