<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');
      </style>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/css/style.css"/>
  </head>

  <div class="login">
    <body>
        <header>
            <nav class="menu"> 
              <a href="/">Home</a> 
              <a href="/"<img src="static/images/codasong-4.png" style="width:100px; height 100px;"></a>
              <a href="/about">About</a>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</div>
</html>
