<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/entry.css') }}"/>
</head>

  <div class="login">
            <h1>Hi there! Welcome to codasong.</h1>
            <h2>We're going to help you find some new music</h2>
            <p>But for now, let's start with your name.</p>
              <form id='namesubmit' action="/" method="post">
                <input autocomplete="off" autofocus name="name" placeholder="Name" type="text"></input>
                <input name='submit' type="submit"></input>
              </form>
  </div>
</html>
