{% extends "base.html" %} {% block body %}

    <h1>"{{ output_song }}" is a great choice!</h1>
    <h2>Here's some others you might like.</h2>
    <br>
    <br>
    <table>
        <tr>
            <th>Track</th>
            <th>Artist</th>
            <th></th>
        </tr>
        {% for index, row in recommended_song.iterrows() %}
        <tr>
            <td>{{ row['name'] }}</td>
            <td>{{ row['artists'] }}</td>
            <td><button><a href="{{ row['url'] }}" style = "text-decoration: none">Listen Here</a></button></td>
        </tr>
        {% endfor %}
    
{% endblock %}